body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fff;
    color: #2C2C2C;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.form-section{
    width: 50%;
}

    .form-section h2{
        font-size: 3rem;
        font-weight: bold;
        color: #FDBD03;
        text-align: center;
        margin-bottom: 1rem;
    }

    .form-section p{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2px;
    color: #020253;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    label{
        color: #2C2C2C;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    input,textarea{
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        border-bottom: 5px solid #FDBD03 ;
        background-color: #E5EEFF;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

    button{
        background-color: #FDBD03;
        color: #000000;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
    }

    .image-section{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-section img{
        max-width: 100%;
        height: auto;
    }

    .whatsapp-icon{
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: #FDBD03;
        border-radius: 50%;
        width: 32px;
        padding: 10px;
    }

    .whatsapp-icon img{
        width: 30px;
        height: 30px;
    }